[data-menu="button"] {
   display: none;
}
@media(max-width: 900px) {
   [data-menu="button"] {
      display: flex;
      align-items: center;
      background-color: #222;
      color: #FFF;
      padding: .5rem 1rem;
      border: none;
      text-transform: uppercase;
      margin: 10px;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
      position: relative;
      z-index: 201;
   }
   [data-menu="button"]::before {
      content: '';
      display: inline-block;
      height: 2px;
      width: 12px;
      background-color: #FFF;
      box-shadow: 0 4px #FFF, 0 -4px #FFF;
      margin-right: 4px;
      transition: transform .3s;
   }
   [data-menu="button"].active::before {
      transform: rotate(90deg);
   }
   [data-menu="list"] {
      display: none !important;
      position: absolute;
      top: 0;
      z-index: 200;
      background-color: #FB5;
      width: 160px;
      padding: 60px 0 20px 0;
      box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
   }
   [data-menu="list"].active {
      display: block !important;
      animation: show-right .3s forwards;
   }
   .dropdown-menu {
      position: static;
      border: none;
   }
}

/* 05.18 */